@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/* < ---- loginPage.php Styling ---- > */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  z-index: 99;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-right: auto;
  cursor: default;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
}

.head-login {
  margin-left: 40px;
}

.head-login .login-btn {
  height: 40px;
  padding: 0 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.head-login .login-btn:hover {
  background: white;
  color: #222;
}

section {
  min-height: 100vh;
  background: url("BkPic.jpg") no-repeat;
  background-color: blue;
  background-size: cover;
  background-position: center;
  padding: 0 100px;
}



section h2 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 25px;
  color: white;
  font-weight: 600;
}

.container {
  position: fixed;
  width: 420px;
  height: 465px;
  inset: 0;
  margin: auto;
  color: white;
  display: flex;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  overflow: hidden;
  transition: height 0.3s ease, transform 0.5s ease;
}

.container.show {
  transform: scale(1);
}

.container.slide {
  height: 520px;
}

.container .form-box {
  width: 100%;
  padding: 40px;
}
.container .form-box.login,
.container.slide .form-box.register {
  transform: translateX(0);
  transition: transform 0.18s ease;
}

.container.slide .form-box.login {
  transform: translateX(-400px);
  transition: none;
}

.container .form-box.register {
  position: absolute;
  transform: translateX(400px);
}

.form-box h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input:focus,
select:focus {
  border: 2px solid rgb(5, 248, 45);
  box-shadow: 0 0 10px rgba(1, 121, 41, 0.7);
}

/* dropdown options */
.input-box select option {
  color: black; /* makes dropdown items readable */
  background-color: white;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  box-sizing: border-box;
}

select {
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  width: 100%;
  border-radius: 40px;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
}

.input-box input::placeholder {
  color: white;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.hidden {
  display: none;
}
.password-box {
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}

.login-btn, .register-btn {
  width: 100%;
  height: 45px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.login-btn:hover, .register-btn:hover {
  filter: brightness(110%);
}

.login-btn:hover .front, .register-btn:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.login-btn:active .front, .register-btn:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.login-btn:hover .shadow, .register-btn:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.login-btn:active .shadow, .register-btn:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.login-btn:focus:not(:focus-visible), .register-btn:focus:not(:focus-visible) {
  outline: none;
}

.form-box p {
  font-size: 14.5px;
  text-align: center;
  margin: 25px 0 10px;
}

.form-box p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.form-box p a:hover {
  text-decoration: underline;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: white;
  margin: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.alert-box {
  position: fixed;
  inset: 0;
  top: 35px;
  margin: 0 auto;
  width: 350px;
  height: 70px;
  background: white;
  border-radius: 6px;
  padding: 0 15px;
  z-index: 100;
  overflow: hidden;
  transform: translateY(calc(-100% - 35px));
  transition: transform 0.5s ease;
}

.alert-box.show {
  transform: translateY(0);
  transition: opacity 0.5s ease;
}

.alert {
  display: flex;
  align-items: center;
  height: 100%;
  color: #222;
  font-weight: 500;
}

.alert::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: lawngreen;
  animation: progress 6s linear forwards;
}

.alert.error::after {
  background: red;
}

/* ========== ALERT BOX FADE ========== */
.alert-box {
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}

.alert-box.fade-out {
  opacity: 0;
}

@keyframes progress {
  100% {
    width: 0;
  }
}

.alert i {
  font-size: 35px;
  margin-right: 8px;
  color: lawngreen;
}

.alert.error i {
  color: red;
  color: rgba(7, 155, 253, 0.98);
}

body {
  background: url("../styles/BkPic.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

/*=========================== Student Profile Page Styles ====================*/

header a {
  margin-left: 10px;
}

.profile-container {
  max-width: 800px;
  margin: 120px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.profile-container h1 {
  margin-bottom: 20px;
  color: #1e293b;
  text-align: center;
}

.profile-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  color: black;
  font-size: 18px;
}
.profile-table th,
.profile-table td {
  padding: 8px;
  border: 1px solid #0e0101;
  text-align: left;
}
.profile-table th {
  background: #777575ff;
}

/*=========================== Student Profile Report Page Styles ======================*/

.report-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  color: black;
}
.report-table th,
.report-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}
.report-table th {
  background: #777575ff;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.report-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.report-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.wrapReport {
  max-width: 900px;
  margin: auto;
  margin-top: 100px;
}

.meta {
  font-size: 13px;
  color: white;
  margin-top: 10px;
  text-align: right;
}
@media print {
  .no-print {
    display: none !important;
  }
}

.head-logout .logout-btn,
.ProSummary .ProSummary-btn,
.RegSlip .RegSlip-btn {
  margin-left: 5px;
  height: 40px;
  padding: 0 35px;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid white;
  overflow: hidden;
  background: rgb(21, 8, 214);
  color: white;
  z-index: 1;
}


.head-logout .logout-btn span,
.ProSummary .ProSummary-btn span,
.RegSlip .RegSlip-btn span,
.Return-btn span, .back-btn span,
.edit-btn span, .delete-btn span,
.save-btn, .save-btn span {
  position: relative;
  z-index: 2;
  transition: color 0.35s ease;
}

.head-logout .logout-btn::before,
.ProSummary .ProSummary-btn::before,
.RegSlip .RegSlip-btn::before,
.Return-btn::before, .back-btn::before,
.edit-btn::before, .delete-btn::before,
.save-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.38s cubic-bezier(0.3, 1, 0.8, 1);
}

.head-logout .logout-btn:hover::before, 
.back-btn:hover::before,
.Return-btn:hover::before,
.delete-btn:hover:before {
  background: red;
  transform: translateX(0);
}
.ProSummary .ProSummary-btn:hover::before, 
.edit-btn:hover::before,
.save-btn:hover::before{
  background: #0ebb37;
  transform: translateX(0);
}
.RegSlip .RegSlip-btn:hover::before {
  background: #fffc33;
  transform: translateX(0);
}

.head-logout .logout-btn:hover span,
.ProSummary .ProSummary-btn:hover span,
.Return-btn:hover span {
  color: white;
}

.RegSlip .RegSlip-btn:hover span {
  color: black;
}

.print-btn,
.pdf-btn,
.Return-btn,
.search-btn,
.edit-btn, .save-btn,
.delete-btn, .back-btn {
  height: 40px;
  margin: 5px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0 35px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #3399ff;
  color: ghostwhite;
  z-index: 0;
}



.print-btn span,
.pdf-btn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.print-btn:hover span,
.pdf-btn:hover span {
  color: black;
  z-index: 2;
}

.print-btn::before, .print-btn::after,
.pdf-btn::before, .pdf-btn::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.print-btn::before,
.pdf-btn::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: -1;
}
.RegSlip-btn::before {
  background: #fffc33;
}
.logout-btn::before, .back-btn::before,.Return-btn::before,
.delete-btn::before{
  background: red;
}
.ProSummary-btn::before, .edit-btn::before,
.save-btn::before {
  background: #0cda3c;
}

.print-btn:hover::before,
.pdf-btn:hover::before {
  transform: translate3d(100%, 0, 0);
}

.no-print {
  justify-content: flex-start;
}

.no-print .Return-btn {
  margin-left: 400px;
}
.back-btn, .Return-btn {
  background: #6c757d;
}
/*=========================== Admin Dsahboard Page Styles ======================*/

.dashboard-container {
  margin: 120px auto;
  width: 90%;
  max-width: 1000px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  color: white;
  padding: 20px;
  border-radius: 15px;
}

.search-box {
  position: relative;
  width: 80%;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.search-box::placeholder {
  color: white;
}

.search-box:focus {
  border: 2px solid rgb(5, 248, 45);
  box-shadow: 0 0 10px rgba(1, 121, 41, 0.7);
}

.dashboard-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
  color: black;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}
.dashboard-table th,
.dashboard-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
}

.dashboard-table {
  overflow-x: auto;
}

.dashboard-table th {
  background: #222;
  color: white;
}
.dashboard-table tr:hover {
  background: #7fd1e6ff;
}

/* Keep "View" buttons neat inside table */
.dashboard-table td {
  vertical-align: middle;
}

.dashboard-table td button,
.dashboard-table td .edit-btn {
  display: inline-block;
  font-size: 14px;
  border: none;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}

.view-btn .edit-btn {
  height: 40px;
  margin: 2px;
  margin-top: 2px;
}

/*<  -------- Dashboard Summary Cards ---------- */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.dashboard-cards .card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.dashboard-cards .card:hover {
  transform: scale(1.05);
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

/* < -------- When selected (clicked)  */
.dashboard-cards .card.card-selected {
  transform: scale(1.1);
  border: 2px solid #00ffea;
  box-shadow: 0 0 25px rgba(0, 255, 234, 0.6);
}

.dashboard-cards .card h3 {
  font-size: 2rem;
  margin: 0;
}

.dashboard-cards .card p {
  margin: 5px 0 0;
  font-size: 1rem;
}

/* < -------- Colors by Status --------------- > */
.card.total {
  background: linear-gradient(135deg, #007bff, #00c6ff);
}

.card.pending {
  background: linear-gradient(135deg, #ffbb33, #ffcc66);
  color: black;
}

.card.awaiting {
  background: linear-gradient(135deg, #ff8800, #ffa94d);
  color: white;
}

.card.active {
  background: linear-gradient(135deg, #28a745, #5dd55d);
}

.card.onhold {
  background: linear-gradient(135deg, #17a2b8, #49c7db);
}

.card.suspended {
  background: linear-gradient(135deg, #dc3545, #ff4b5c);
}

.card.graduated {
  background: linear-gradient(135deg, #6f42c1, #b266ff);
}

/* < ---------- Dashboard Status Colors ---------- > */
.status-active {
  color: #0bbf65;
  font-weight: bold;
}

.status-pending {
  color: #ffb400;
  font-weight: bold;
}

.status-awaiting {
  color: #ff8800 ;
  font-weight: bold;
}

.status-onhold {
  color:#17a2b8 ;
  font-weight: bold;
}

.status-suspended {
  color: #e53935;
  font-weight: bold;
}

.status-graduated {
  color:#6f42c1;
  font-weight: bold;
}

.status-other {
  color: #9e9e9e;
  font-weight: bold;
}
/*======================= admin_view_student.php Styling ========================= */

.grid-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-btns .back-btn {
  margin-left: 150px;
}

/*=========================== Admin Edit Student Page Styles ======================*/

.edit-container, .register-container {
  max-width: 900px;
  margin: 100px auto;
  background: transparent;
  padding: 30px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.edit-container h2, .register-container h2{
  text-align: center;
  margin-bottom: 10px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 20px;
}

.box-2 label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}
.box-2 input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 12px;
  box-sizing: border-box;
}

.box-2 {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;

}

/* dropdown options */
.box-2 select option, .input-box-2 input {
  color: black; /* makes dropdown items readable */
  background-color: white;
}

.box-2 input:focus,
select:focus {
  border: 2px solid rgb(5, 248, 45);
  box-shadow: 0 0 10px rgba(1, 121, 41, 0.7);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}
textarea {
  grid-column: 1 / span 2;
  resize: none;
}

/*=========================== Register Student Page Styles ======================*/

.box-2 input::placeholder {
  color: #acb1ac;
}

